// Descriptive Base Colors

$white            : #fff;
$black            : #0b0b0b;
$grey             : #797e83;

$light-yellow     : #FFF0A5;
$orange           : #FFB03B;
$dark-orange      : #B64926;
$red              : #8E2800;
$green            : #468966;


// Color Usage

$color-primary    : $orange;
$color-secondary  : $dark-orange;
$color-accent     : $red;

$background-dark  : $grey;
$background-light : $light-yellow;

$text-primary     : $orange;
$text-secondary   : $dark-orange;
