.header-section
  height: 75px

.site-branding,
.main-navigation

  width: auto
  display: inline-block

.main-navigation
  float: right

.nav-menu li
  padding: 21.5px

.site-branding
  @media screen and (max-width: $break-medium)
    text-align: center
    display: block
