.single-book
  .book-header
    background: $background-img
    background-size: cover
    background-attachment: fixed
    text-align: center

    h2
      color: $white
      padding: 50px

.book-sidebar
  width: 30%
  float: left

.book-main
  width: 70%
  float: right

.book-content
  padding: 50px 0
