.postid-31
  .book-header
    background: $background-kitchen-house

.postid-33
  .book-header
    background: $background-book-2

.single-book
  .book-header
    background-size: cover
    background-attachment: fixed
    text-align: center

    h2
      color: $white
      text-shadow: 1px 1px $color-primary
      padding: 50px

.book-main
  width: 70%
  float: right

.book-content
  padding: 50px 0

.book-sidebar
  width: 30%
  float: left

  a
    text-decoration: underline

  h4
    padding: 12.5px 0

  img
    margin-top: -100px
