/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Josefin+Slab");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  font-size: 40px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 32px; }

h4 {
  font-size: 26px; }

h5 {
  font-size: 20px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Josefin Slab", serif;
  font-weight: 400;
  color: #444444; }

a {
  color: #444444;
  text-decoration: none; }

a:hover {
  color: #901808; }

.button {
  width: auto;
  background-color: #444444;
  color: #FCFAE6;
  padding: 9px 18px;
  border-radius: 9px; }
  .button:hover {
    background-color: #444444; }

/*** Media Queries */
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.77778;
  font-family: "Open Sans", Arial, sans-serif;
  background: #FCFAE6; }

.wrap {
  width: 1200px;
  margin: 0 auto; }
  @media screen and (max-width: 1200px) {
    .wrap {
      width: 100%; } }

/*** Clear floats */
.cf:before,
.cf:after {
  content: " ";
  display: table; }

.cf:after {
  clear: both; }

.button,
a {
  transition: 0.4s ease; }

/* -- Navigation -- */
.main-navigation {
  clear: both;
  display: block;
  float: left;
  width: 100%; }
  .main-navigation ul {
    list-style: none;
    margin: 0;
    padding-left: 0; }
    .main-navigation ul ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      float: left;
      position: absolute;
      top: 1.5em;
      left: -999em;
      z-index: 99999; }
      .main-navigation ul ul ul {
        left: -999em;
        top: 0; }
      .main-navigation ul ul li:hover > ul {
        left: 100%; }
      .main-navigation ul ul a {
        width: 200px; }
    .main-navigation ul li:hover > ul {
      left: auto; }
  .main-navigation li {
    float: left;
    position: relative; }
  .main-navigation a {
    display: block;
    text-decoration: none; }

/* Small menu */
.menu-toggle {
  display: none; }

@media screen and (max-width: 600px) {
  .menu-toggle,
  .main-navigation.toggled .nav-menu {
    display: block; }

  .main-navigation ul {
    display: none; } }
.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden; }

.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%; }

.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%; }

.header-section {
  height: 75px; }

.site-branding,
.main-navigation {
  width: auto;
  display: inline-block; }

.main-navigation {
  float: right; }

.nav-menu li {
  padding-left: 18px;
  padding-top: 18px; }

.site-branding {
  padding-top: 5px; }

/* -- Frontpage -- */
#hero {
  background: url("http://localhost/kathy/wp-content/uploads/2014/11/John_Constable_The_Hay_Wain.jpg");
  background-size: cover;
  background-attachment: fixed; }

.hero-section {
  padding-top: 100px;
  padding-bottom: 150px; }
  .hero-section h1 {
    text-align: center;
    color: #FCFAE6; }

.book-section {
  margin-top: -100px;
  padding-bottom: 50px; }
  .book-section .post {
    width: 45%;
    float: left; }
    @media screen and (max-width: 1200px) {
      .book-section .post {
        width: 100%; } }
    .book-section .post h2 {
      padding-top: 150px;
      padding-bottom: 12.5px;
      text-align: center; }
    .book-section .post img {
      height: 300px;
      display: block;
      margin: 0 auto; }
    .book-section .post .post-content {
      margin-top: -150px;
      padding: 50px;
      background: #E7E9D1;
      border-radius: 9px; }
    .book-section .post:first-child {
      margin-right: 10%; }
    .book-section .post .post-content p {
      padding-bottom: 25px; }

#about {
  background: url("http://localhost/kathy/wp-content/uploads/2014/11/John_Constable_The_Hay_Wain.jpg");
  background-size: cover;
  background-attachment: fixed;
  padding: 100px 0; }

.about-section {
  padding: 50px;
  background: #E7E9D1;
  border-radius: 9px; }
  .about-section p {
    padding-bottom: 25px; }

/*# sourceMappingURL=style.css.map */
