// Descriptive Base Colors
$light-yellow     : #FFF0A5
$orange           : #FFB03B
$dark-orange      : #B64926
$red              : #8E2800
$green            : #468966


// Color Usage

$color-primary    : $orange
$color-secondary  : $dark-orange
$color-accent     : $red

$background-light : $light-yellow

$text-primary     : $orange
$text-secondary   : $dark-orange
