// Descriptive Base Colors
$color1        : #FCFAE6
$color2        : #E7E9D1
$color3        : #444444
$color4        : #D3D4AA
$color5        : #901808

// Color Usage

$color-primary    : $color3
$color-secondary  : $color3
$color-accent     : $color2
$color-alert      : $color3

$white         : $color1

$color-background            : $color1
$color-background-secondary  : $color2
