$font-url--google         : 'http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Josefin+Slab'

$font-family--primary     : 'Open Sans', Arial, sans-serif
$font-family--secondary   : 'Josefin Slab', serif

// Font Weights
$font-weight--light       : 300
$font-weight--medium      : 400
$font-weight--bold        : 700

// Text
$base__font-size  : 16px
$base__line       : 32px

// Headers
h1
  font-size: 40px
h2
  font-size: 36px
h3
  font-size: 32px
h4
  font-size: 26px
h5
  font-size: 20px

h1, h2, h3, h4, h5, h6
  font-family: $font-family--secondary
  font-weight: $font-weight--medium
  color: $color-primary

// Links
a
  color: $color-primary
  text-decoration: none
a:hover
  color: $color-alert
